<div id="home">

  <div id="mapid" style="height: 25%; width: 100%; align-self: center"></div>
<br>
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h3>Type your location.</h3>
         <input type="text" id="name" class="form-control" required>
          <br>
          <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Select type of food</option>
      <option value="Tacos">Tacos</option>
      <option value="Antojitos">Antojitos</option>
      <option value="Americana">Americana</option>
      <option value="Mariscos">Mariscos</option>
      <option value="Loungería">Loungería</option>
      <option value="Quesadillas">Quesadillas</option>
      <option value="Asiatica">Asiatica</option>
      <option value="Libanesa">Libanesa</option>
      <option value="Mexicana">Mexicana</option>
    </select>
    
  </div>
   <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
         <br><br>

        <h3>Results:</h3>

        {{!-- Start card --}}
{{#each places}}
  <div class="card {{this.budget}}">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://picsum.photos/800/400">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{this.name}}<i class="material-icons right">more_vert</i></span>
      <p>{{this.address}}</p>
        <a class="btn-floating btn-large waves-effect waves-light red" href={{this.url}}><i class="material-icons">map</i></a>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{this.name}}<i class="material-icons right">close</i></span>
        <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="https://picsum.photos/500/300?random=1"{{!-- {{this.image}} --}}></a>
    <a class="carousel-item" href="#two!"><img src="https://picsum.photos/500/300?random=2"></a>
    <a class="carousel-item" href="#three!"><img src="https://picsum.photos/500/300?random=3"></a>
    <a class="carousel-item" href="#four!"><img src="https://picsum.photos/500/300?random=4"></a>
    <a class="carousel-item" href="#five!"><img src="https://picsum.photos/500/300?random=5"></a>
    
  </div>
    </div>
  </div>
{{/each}}

{{!-- End card --}}

      </div>
    </div>
  </div>
</div>

<script>
  // JS for Map

{{!-- var mymap = L.map("mapid").setView([19.426, -99.1228881], 12); --}}
var mymap = L.map("mapid").setView([{{lon}},{{lat}}], {{zoom}});

L.tileLayer(
  "https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}",
  {
    attribution:
      'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: "mapbox.streets",
    accessToken:
      "pk.eyJ1IjoiemVka2FoaWJha3VzaGEiLCJhIjoiY2p4NnF2dzZoMDJqYjN3cWw3Z3I3aGo3aiJ9.zeFVk9SlIdpPiPW8gxlVAw"
  }
).addTo(mymap);

{{#each places}}
var Pin{{this.id}} = L.marker([parseFloat({{this.lat}}), parseFloat({{this.lon}})]).addTo(mymap);
Pin{{this.id}}.bindPopup("{{this.name}}");
{{/each}}


</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
