<div id="home">

  <div id="mapid"></div>
<h1 class="muySalsaText">Muy Salsa</h1>
<br>
  <div class="container containerplace">
    <div class="row">
      <div class="col-8 offset-2">
        <select id="type">
          <option value="null" disabled selected>Select type of food</option>
          <option value="Tacos">Tacos</option>
          <option value="Antojitos">Antojitos</option>
          <option value="Mariscos">Mariscos</option>
          <option value="Mexicana">Mexicana</option>
        </select>
    
      </div>

      <button class="btn waves-effect waves-light location red" type="submit" name="action"> Nearby Places
        <i class="material-icons right">send</i>
      </button>
        <br><br>

      <h3>Random Places:</h3>

        {{!-- Start card --}}
        {{#each places}}
          <div class="card {{this.budget}}">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src={{Dishes.0.image}} >
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{this.name}}<i class="material-icons right">more_vert</i></span>
              <p>{{this.address}}</p>
                <a class="btn-floating btn-large waves-effect waves-light red" href={{this.url}}><i class="material-icons">map</i></a>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{this.name}}<i class="material-icons right">close</i></span>
                <div class="carousel carousel-slider">
                  {{#each Dishes}}
                    <a class="carousel-item" ><img src={{this.image}}></a>
                    {{/each}} 
                </div>
            </div>
          </div>
        {{/each}}

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

<script>
  // JS for Map
var mymap = L.map("mapid").setView([{{lon}},{{lat}}], {{zoom}});

mymap.locate({setView: true, maxZoom: 12});
var mylocation = []

function onLocationFound(e) {
    var radius = e.accuracy;
    mylocation = e.latlng;

    L.circle(e.latlng, {
    color: 'red',
    fillColor: '#f03', fillOpacity: 0.5, radius: 50}).addTo(mymap)
        .bindPopup("You are here").openPopup();
};
function onLocationError(e) {
    alert(e.message);
}

mymap.on('locationerror', onLocationError);
mymap.on('locationfound', onLocationFound);

L.tileLayer(
  "https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}",
  {
    attribution:
      'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: "mapbox.streets",
    accessToken:
      "pk.eyJ1IjoiemVka2FoaWJha3VzaGEiLCJhIjoiY2p4NnF2dzZoMDJqYjN3cWw3Z3I3aGo3aiJ9.zeFVk9SlIdpPiPW8gxlVAw"
  }
).addTo(mymap);

{{#each places}}
var Pin{{this.id}} = L.marker([parseFloat({{this.lat}}), parseFloat({{this.lon}})]).addTo(mymap);
Pin{{this.id}}.bindPopup("{{this.name}}");
{{/each}}

$(document).ready(function(){
    console.log(mylocation)


  $(".location").on("click", function(event){
    event.preventDefault();
    console.log("location click", mylocation)

    var baseURL = "http://localhost:3000";
    var url = "/location/" + mylocation.lat + "/" + mylocation.lng;
    var searchtype = $("#type").val();

    {{!-- var baseURL = "https://muysalsa.herokuapp.com"; --}}
    {{!-- var url = "/location"; --}}
    console.log(url);
    
    $.ajax(url, {
      type: "POST",
      data: {lng: mylocation.lng,
      lat: mylocation.lat,
      type: searchtype}
    }).then(function(res) {
      $(document.body).html(res);
    {{!-- window.location.replace(baseURL + url); --}}
    });


  });

});


</script>

