<div class="container">
    <div class="col s12 m7">
      <h2 class="header">Restaurants</h2>
      <div class="card horizontal">
        <div class="card-image">
            <img class="img d-block img-fluid" src="../img/tacos.jpeg" alt="taco">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>List of all the Restaurants</p>
            </div>
            <div class="card-action">
              <a href="/list">Add a new restaurant</a>
            </div>
        </div>
      </div>
    </div>  

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Restaurants list</h4>
                </div>
                <div class="panel-body" id="tableSection">
                    <table class="responsive-table" style="width:100%">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Address</th> 
                            <th>Zone</th>
                            <th>URL</th>
                            <th>Longitude</th> 
                            <th>Latitude</th>
                            <th>Budget</th>
                            <th>Type of food</th> 
                        </tr>
                        {{#each places}}
                            <tr>
                                <td>{{this.id}}</td>
                                <td>{{this.name}}</td>
                                <td>{{this.address}}</td> 
                                <td>{{this.zone}}</td>
                                <td>{{this.url}}</td>
                                <td>{{this.lon}}</td> 
                                <td>{{this.lat}}</td>
                                <td>{{this.budget}}</td>
                                <td>{{this.type}}</td> 
                            </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </div>
