<div id="home">

  <div id="mapid" style="height: 20%; width: 100%; align-self: center"></div>
<br>
<h1 class="placeText">{{ubicacion}}</h1>
<h1 class="muySalsaText">Muy Salsa</h1>
  <div class="container containerplace">
    <div class="row">
      <div class="col-8 offset-2">
         <br><br>

        <h3>Results:</h3>

        {{!-- Start card --}}
{{#each places}}
  <div class="card {{this.budget}}">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src={{Dishes.0.image}} >
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{this.name}}<i class="material-icons right">more_vert</i></span>
      <p>{{this.address}}</p>
        <a class="btn-floating btn-large waves-effect waves-light red" href={{this.url}}><i class="material-icons">map</i></a>
    </div>
    <div class="card-reveal {{this.budget}}">
      <span class="card-title grey-text text-darken-4">{{this.name}}<i class="material-icons right">close</i></span>
        <div class="carousel carousel-slider">
          {{#each Dishes}}
            <a class="carousel-item" ><img src={{this.image}}></a>
            {{/each}}

    
  </div>
    </div>
  </div>
{{/each}}

{{!-- End card --}}

      </div>
    </div>
  </div>
</div>

<script>
  // JS for Map

{{!-- var mymap = L.map("mapid").setView([19.426, -99.1228881], 12); --}}
var mymap = L.map("mapid").setView([{{lat}},{{lon}}], {{zoom}});

L.tileLayer(
  "https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}",
  {
    attribution:
      'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: "mapbox.streets",
    accessToken:
      "pk.eyJ1IjoiemVka2FoaWJha3VzaGEiLCJhIjoiY2p4NnF2dzZoMDJqYjN3cWw3Z3I3aGo3aiJ9.zeFVk9SlIdpPiPW8gxlVAw"
  }
).addTo(mymap);

{{#each places}}
var Pin{{this.id}} = L.marker([parseFloat({{this.lat}}), parseFloat({{this.lon}})]).addTo(mymap);
Pin{{this.id}}.bindPopup("{{this.name}}");
{{/each}}



</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
